body {
    font-family: "Raleway", "Noto Kufi Arabic", sans-serif;
    width: 100%;
}

.entitepdf {
    background-color: #1B67B0;
    padding: 0.3rem 3rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.imglogo {
    width: 260px;
    padding-left: 1rem;
}

.qrcode {
    width: 300px;
}

.titleLogo h1 {
    color: white;
    font-size: 34px;
}

.ticketInfoParent {
    display: flex;
    width: 65%;
    margin-top: 2rem;
    margin-left: 4rem;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
}

.ticket-info {
    width: 40%;
}

.qrCode {
    width: 20%;
}

.qrCode img {
    width: 200px;
}

.reservationInfo {
    font-size: 15px;
}

.reservationInfo h1 {
    color: #1B67B0;
    font-size: 19px;
}

.reservation {
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}

.formation,
.modules,
.validation {
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}

.client {
    display: flex;
    justify-content: space-between;
    width: 550px;
    align-items: center;
}

.reservation-prix b {
    font-weight: 600;
    font-size: 17px;
    color: #1B67B0;
}
