.container-whyus {
  position: relative;
}

.space-holder {
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  width: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.horizontal {
  position: absolute;
  height: 100%;
}

.cards {
  position: relative;
  padding: 0 0 0 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.sample-card {
  position: relative;
  height: 300px;
  flex-shrink: 0;
}

.section-1 {
  margin-top: 3rem;
  position: relative;
  width: 98rem;
  flex-shrink: 0;
}

.section-3 {
  display: block;
  margin-top: 8rem;
  width: 44rem;
}
.section-4 {
  position: relative;
  width: 44rem;
  margin-top: 13rem;

  flex-shrink: 0;
}

.section1-title {
  font-size: 27px;
  width: 50rem;
}
.section1-text {
  margin: 2rem 0 0 15rem;
  width: 40rem;
  font-size: 18px;
  line-height: 26px;
}

.Parentellipse {
  display: flex;
  align-items: flex-end;
  width: 22rem;
  position: relative;
  bottom: 0rem;
}

.sample-card .title {
  font-size: 24px;
  margin-left: 1rem;
  letter-spacing: 2px;
}

.Parentellipse2 {
  display: flex;
  align-items: flex-end;
  width: 36rem;
  position: relative;
  bottom: -6rem;
  left: 16rem;
}

.Parentellipse3 {
  bottom: 6rem;
  left: -4rem;
  display: flex;

  align-items: flex-end;
  width: 24rem;
  position: relative;
}

.Parentellipse4 {
  bottom: 0rem;
  left: 18rem;
  display: flex;
  align-items: flex-end;
  width: 24rem;
  position: relative;
}

.ellipses-container {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: relative;
  top: -1rem;
}

.ellipses {
  border-radius: 50%;
  position: absolute;
  top: 22px;
  border-style: solid;
}

.ellipses__outer--thin {
  filter: drop-shadow(0 0 35px var(--blueBTouilShadow));
  box-shadow: 0 1px 30px 0 rgba(69, 90, 100, 0.08);
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgba(9, 56, 62, 0.1);
  animation: ellipsesOrbit 15s ease-in-out infinite;
}

.ellipses__outer--thick {
  width: 99.5%;
  height: 99.5%;
  border-color: #1b67b0 transparent;
  border-width: 2px;
  transform: rotate(-45deg);
  animation: ellipsesRotate 10s ease-in-out infinite;
}

.ellipses__orbit {
  width: 0.8rem;
  height: 0.8rem;
  border-width: 2px;
  border: none;
  background-color: #1b67b0;
  top: 2rem;
  right: 8.8rem;
}

@keyframes ellipsesRotate {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}

@keyframes ellipsesOrbit {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.img {
  width: 90px;
  position: relative;
  top: 3.3rem;
  left: 2.3rem;
}

.whyus-image {
  width: 96vw;
  height: 76vh;
  background-color: dodgerblue;
  background-size: cover;
  background-position: center;

}

.banner .whyus-image {
   
  background-image: linear-gradient(45deg, rgba(33,33,33, 0) 0%,transparent 73%),repeating-linear-gradient(90deg, rgba(255,255,255, 0.13) 0px, rgba(255,255,255, 0.13) 1px,transparent 1px, transparent 17px),repeating-linear-gradient(0deg, rgba(255,255,255, 0.13) 0px, rgba(255,255,255, 0.13) 1px,transparent 1px, transparent 17px),linear-gradient(0deg, rgba(33,33,33, 0),rgba(33,33,33, 0)), radial-gradient(circle at 82% 63%, rgba(183,183,183, 0) 0%, rgba(183,183,183, 0) 84%,transparent 84%, transparent 100%),radial-gradient(circle at 88% 98%, rgba(232,232,232, 0) 0%, rgba(232,232,232, 0) 15%,transparent 15%, transparent 100%),radial-gradient(circle at 77% 83%, rgba(252, 252, 252,0.05) 0%, rgba(252, 252, 252,0.05) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 64% 0%, rgba(140,140,140, 0.07) 0%, rgba(140,140,140, 0.07) 54%,transparent 54%, transparent 100%),radial-gradient(circle at 57% 86%, rgba(241,241,241, 0) 0%, rgba(241,241,241, 0) 80%,transparent 80%, transparent 100%),radial-gradient(circle at 17% 93%, rgba(68,68,68, 0) 0%, rgba(68,68,68, 0) 82%,transparent 82%, transparent 100%),radial-gradient(circle at 85% 70%, rgba(10,10,10, 0) 0%, rgba(10,10,10, 0) 13%,transparent 13%, transparent 100%),linear-gradient(398deg, rgba(27,103,176, 0.49),rgba(232,69,30, 0.49)), url("../../../public/assets/WhyUs/whyUs.jpg") ;
}


.text-container {
  width: 100vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.text-wrapper {
  width: 90vw;
  max-height: 50vh;
}

.title-container {
  overflow: hidden;
  position: absolute;
  font-size: 90px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  width: 100vw;
  transform: translate(-50%, -50%);
  left: 43%;
  top: 53%;
  text-align: center;
}


@media (max-width: 1025px) {
  .container-whyus {
    height: 80rem;
  }

  .sticky {
    height: 117rem;
  }
  .cards {
    display: block;
  }

  .section-3 {
    width: 30rem;
    margin-top: 20rem;
  }

  .section-4 {
    width: 30rem;
    margin-top: -1rem;
  }
  .Parentellipse2 {
    left: 25rem;
    bottom: 11rem;
  }
  .Parentellipse4 {
    left: 30rem;
    bottom: 10rem;
  }
  .Parentellipse3 {
    left: 3rem;
    top: 2rem;
  }
  .section2 {
    width: 47rem;
    margin-left: 5rem;
  }
  .section1-text {
    font-size: 23px;
    width: 47rem;
    margin-left: 3rem;
  }

  .section-1 .whyus-image {
    height: 25rem;
  }

  .title-container {
    width: 50rem;
    font-size: 5.4rem;
    top: 18rem;
    left: 31rem;
  }
}

@media (max-width: 767px) {
  .container-whyus {
    height: 110rem;
  }

  .sticky {
    height: 220rem;
  }
  .cards {
    display: block;
    padding: 0;
  }

  .section-3 .Parentellipse {
    display: block;
    left: 8rem;
  }
  .section-4 .Parentellipse3 {
    top: 16rem;
    left: 8rem;
    display: block;
  }
  .section-4 .Parentellipse3 .title,
  .section-3 .Parentellipse .title {
    margin-top: 2rem;
  }
  .section-4 .Parentellipse4 .title,
  .section-3 .Parentellipse2 .title {
    margin-top: 2rem;
  }
  .section-3 .Parentellipse2 {
    display: block;
    left: 8rem;
    top: 2rem;
  }
  .Parentellipse2 .title {
    margin-left: -5rem;
  }
  .section-4 .Parentellipse4 {
    top: 19rem;
    left: 8rem;
    display: block;
  }
  .section-3 {
    margin-top: 25rem;
    width: 100%;
  }

  .section1-text {
    width: 60%;
    text-align: left;
    margin-left: 0;
    line-height: 30px;
  }
  .section-1 {
    margin-top: 0;
  }
  .section1-title {
    width: 60%;
    text-align: center;
    line-height: 3rem;
  }

  .section-1 .whyus-image {
    height: 25rem;
    width: 100%;
  }

  .title-container {
    width: 22rem;
    font-size: 3rem;
    top: 18rem;
    left: 12rem;
  }
}


@media (min-width:1340px){


  .section-1 {
    width: 140rem;
  }

  .section-3 {
    padding-top:5rem;
  }
  
  .section-4 {
    padding-top:5rem;
  }


} 