:root {
    --orangeTouil : #E8451E;
    --blueTouil : #1B67B0;
    --blueTouilShadow : #1b68b057;
    --orangeTouilShadow : #e8461e72;
    --cremaTouil : #F2F2F2;
}

.detail-top{
    display: flex;
    margin-top: 2rem;
    width: 97%;
    justify-content: space-between;
    padding: 1rem 4rem;
  

}
.covertitle{
text-align: center;
font-size: 70px;
padding: 5rem 0;
margin: auto;
letter-spacing: 0.3rem;
color: transparent;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: rgb(255, 255, 255);
}

.servicedetailtext {
    padding: 1rem;
    border-radius: 5px;
    width: 500px;
    line-height: 25px;
}

.parent-imagesService{
    align-items: center;
    margin-top: 1.3rem;
    display: flex;
}

  #flex {
    display: flex;
    overflow: hidden;
    width: 776px;
  }
  
  #service-img {
    flex-shrink: 0;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 1rem;
    transform-origin: center left;
    width: 390px;
  }
  
  #service-img:not(:first-child) {
    transform: scale(0.7);
  }


#arrow{
    font-weight: bold;
    cursor: pointer;
}


.left-detail{
    display: block;
    width: 55%;
}
.right-detail{
    width: 40%;
}
.left-detail h1{
    width: 700px;
    margin-bottom: 1rem;
}
 
.btnReservation{
    color: white;
    background-image: linear-gradient(224deg, rgb(78,148,252),rgb(27,103,176));
    border: none;
    padding: 0.8rem 0.2rem;
    margin-top: 1.6rem;
    font-size: 1rem;
    font-weight: 650;
    outline: none;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 10rem;
    transition: all .1s;
}

.btnReservation:hover {
    animation: anim 1s infinite ease-in-out;
}
.btnReservation:active { 
   background-color: black;
    transform: scale(0.95);
}
.servicedetail-types{
 margin-bottom: 2rem ;
}

.servicedetail-types h4{
    margin-left: 0.5rem;
}
.servicedetail-types p{
    margin-top: 0.5rem;
}

.servicedetail-types .title{
   display: flex;
   align-items: center;
   width: 100%;

}


.parent-icon {
    background-color: var(--orangeTouil);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    border: 0.1rem dashed white;
    outline: 0.1rem solid var(--orangeTouil);
}


#service-icon{
    width: 30px;
    filter: brightness(0) invert(1);
    object-fit: cover;
}

@keyframes rotateImgService {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px) rotate(3deg);
    }
    100% {
      transform: translateY(0);
    }
}

.title h4 {
    background-color: var(--orangeTouil);
    color: white;
    padding: 0.3rem 1.3rem;
    margin-left: -0.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: auto;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.8rem;
    border-top: 0.1rem dashed white;
    border-right: 0.1rem dashed white;
    border-bottom: 0.1rem dashed white;
    outline: 0.1rem solid var(--orangeTouil);
}
.servicedetail-types p {
    background-color: white;
    padding: 0.5rem;
    font-size: 0.8rem;
    padding-left: 2rem;
    border-radius: 5px;
}

.lire-btn {
  background-color: #1B67B0;
    color: white;
    border: none;
    padding: 0.6rem;
    font-size: 0.8rem;
    font-weight: 500;
    width: 100px;
    outline: none;
    font-family: "Raleway", "Noto Kufi Arabic",  sans-serif;
    border-radius: 0.3rem;
    margin: 0 15px;
    cursor: pointer;
    transition: all .1s;
}
.pin-spacer{
    padding-bottom: 0;
}

.lire-btn:hover {
    animation: anim 1s infinite ease-in-out;
}


    
@media (max-width : 767px){
    .left-detail h1{
        width: 100%;
        margin-bottom: 1rem;
    }
     #flex{
        flex-direction: column;
     }
    .pin-spacer{
        display: none;
    }
    .covertitle{
        font-size: 2.2rem;
    }
   .servicedetail{
    width: 100%;
    margin:0;
   }
   .parent-imagesService{
    display: none;
   }
   .servicedetail-types p{
    margin-top: 0.5rem;
    width: 100%;
}
   .servicedetailheader{
    height: 30px;
   }
   .detail-top{
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem;
    flex-direction: column;

}
.servicedetailtext{
    width: 390px;
    margin-bottom: 3rem;

}
.servicedetail-types{
    width: 340px;
    margin-left: 3rem;
}

}


@media (max-width : 440px){
    .left-detail {
        width: 100%;
    }
    .servicedetailtext {
        width: fit-content;
    }
}

@media (max-width:470px){

    .right-detail {
        width: 100%;
        position: relative;
        right: 1.5rem;
    }
    

.parent-icon {
    width: 70px;
    height: 70px;
}


#service-icon{
    width: 30px;
    filter: brightness(0) invert(1);
    object-fit: cover;
    animation: rotateImgService 5s infinite alternate ease-in-out;
}

.title h4 {
    font-size: 0.6rem;
    width: 70%;
    padding: 0.1rem 1.3rem;
}
.servicedetail-types p {
    font-size: 0.6rem;
    width: 80%;
    position: relative;
    left: 2rem;
}
}



@media (min-width:1340px){

    .covertitle {
        padding: 11rem 0;
        font-size: 80px;
    }

    .servicedetailtext {
        font-size: 1.7rem;
        width: 100%;
    }

    .servicedetail-types p {
        font-size: 1rem;
    }

    .title h4 {
        font-size: 1.3rem;
        padding: 0.7rem 1.3rem;
    }
    .parent-icon {
        width: 60px;
        height: 60px;
    }
    .flex {
        height: 1500px;
    }

    #service-img {
        width: 450px;
        height: 300px;
    }
    .left-detail{
     display: flex;
     flex-direction: column;
     gap: 83px;
    }
}