
.detail-top{
    display: flex;
    margin-top: 2rem;
    width: 97%;
    justify-content: space-between;
    padding: 1rem 4rem;
}
.servicedetailtext {
    width: 500px;
    line-height: 25px;
}

.parent-imagesService{
    align-items: center;
    margin-top: 1.3rem;
    display: flex;
}

  #flex {
    display: flex;
    overflow: hidden;
    width: 776px;
  }
  
  #service-img {
    flex-shrink: 0;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 1rem;
    transform-origin: center left;
    width: 390px;
  }
  
  #service-img:not(:first-child) {
    transform: scale(0.7);
  }


#arrow{
    font-weight: bold;
    cursor: pointer;
}


.left-detail{
    display: block;
    width: 55%;
}
.right-detail{
    width: 40%;
}
.left-detail h1{
    width: 700px;
    margin-bottom: 1rem;
}
 
.btnReservation{
    color: white;
    background-image: linear-gradient(224deg, rgb(78,148,252),rgb(27,103,176));
    border: none;
    padding: 0.8rem 0.2rem;
    margin-top: 1.6rem;
    font-size: 1rem;
    font-weight: 650;
    outline: none;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 10rem;
    transition: all .1s;
}

.btnReservation:hover {
    animation: anim 1s infinite ease-in-out;
}
.btnReservation:active { 
   background-color: black;
    transform: scale(0.95);
}
.servicedetail-types{
 margin-bottom: 2rem ;
}

.servicedetail-types h4{
    margin-left: 0.5rem;
}
.servicedetail-types p{
    margin-top: 0.5rem;
}

.servicedetail-types .title{
   display: flex;
   align-items: center;
   width: 100%;

}

#service-icon{
    width: 30px;
    align-items: center;
    align-self: center;
}

.parent-icon{
    background-color: white;
    padding: 0.6rem;
    border-radius: 50%;
}


.lire-btn {
  background-color: #1B67B0;
    color: white;
    border: none;
    padding: 0.6rem;
    font-size: 0.8rem;
    font-weight: 500;
    width: 100px;
    outline: none;
    font-family: "Raleway", "Noto Kufi Arabic",  sans-serif;
    border-radius: 0.3rem;
    margin: 0 15px;
    cursor: pointer;
    transition: all .1s;
}
.pin-spacer{
    padding-bottom: 0;
}

.lire-btn:hover {
    animation: anim 1s infinite ease-in-out;
}


    
@media (max-width : 767px){
    .left-detail h1{
        width: 220px;
        margin-bottom: 1rem;
    }
     #flex{
        flex-direction: column;
     }
    .pin-spacer{
        display: none;
    }
   .servicedetail{
    width: 100%;
    margin:0;
   }
   .parent-imagesService{
    display: none;
   }
   .servicedetail-types p{
    margin-top: 0.5rem;
    width: 100%;
}
   .servicedetailheader{
    height: 30px;
   }
   .detail-top{
    margin-top: 1rem;
    width: 100%;
    flex-direction: column;

}
.servicedetailtext{
    width: 390px;
    margin-bottom: 3rem;

}
.servicedetail-types{
    width: 400px;
}
}