:root {
    --orangeTouil : #E8451E;
    --blueTouil : #1B67B0;
    --blueTouilShadow : #1b68b057;
    --orangeTouilShadow : #e8461e72;
    --cremaTouil : #F2F2F2;
}

.parentLandingPage {
    width: 100%;
   background-color: rgb(250, 251, 252);
    color: #111928;
}


.h1LandingPage {
    display: block;
    width: 100%;
    font-size: 30px;
    margin: 2.5rem 0rem;
  filter: drop-shadow(0 0 5px var(--blueBTouilShadow));

}


.h1LandingPage::before{
    background-image: linear-gradient(12deg, rgb(232,69,30),rgb(232,69,30),rgb(251,145,37));
    content: '';
    display: block;
    height: 4px;
    width: 75px;
    margin-bottom: 5px;
    border-radius: 3px;
}