:root {
    --orangeTouil : #E8451E;
    --blueTouil : #1B67B0;
    --blueTouilShadow : #1b68b057;
    --orangeTouilShadow : #e8461e72;
    --cremaTouil : #F2F2F2;
}

.parentLandingPage {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%);
    width: 100vw;
  
}