:root {
    --orangeTouil : #E8451E;
    --blueTouil : #1B67B0;
    --blueTouilShadow : #7116e057;
    --blueBTouilShadow : #1b68b057;
    --blueBTouilShadowIllu : #1b68b098;
    --orangeTouilShadow : #e8461e72;
    --cremaTouil : #F2F2F2;
}

.parentSectionText {
    width: 100%;
    background-image: repeating-linear-gradient(363deg, transparent 0px, transparent 3px, rgb(255, 255, 255) 3px, rgb(255, 255, 255) 32px), repeating-linear-gradient(421deg, transparent 0px, transparent 3px, rgb(255, 255, 255) 3px, rgb(255, 255, 255) 32px), linear-gradient(204deg, rgba(27, 103, 176, 0.19), rgba(155, 151, 247, 0), rgba(27, 103, 176, 0.19), rgba(247, 151, 175, 0), rgba(247, 210, 151, 0.18), rgba(232, 69, 30, 0.16), rgba(82, 82, 82, 0.15));
    padding: 2rem;
    margin: 6rem 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rowTextBlogs {
    width: 60%;
}
.rowTextBlogs h1{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    color: black;
}
.rowinputsSectionText form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.errorMessage{
    background-color:rgb(250, 251, 252);

}

.rowinputsSectionText form input {
    background: none;
    border: none;
    outline: none;
    border: 0.1rem solid var(--blueTouil);
    font-size: 1.2rem;
    padding: 0.4rem;
    color: var(--blueTouil);
    font-weight: 500;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 0.6rem;
}

.rowinputsSectionText form input::placeholder{
    color: var(--blueTouil);
}


#submitSectionText {
    background-color: var(--blueTouil);
    color: var(--blueTouil);
    font-weight: 600;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 0.2rem;
    cursor: pointer;
    color: white;
    width: fit-content;
}

.rowinputsSectionTextAr form #submitSectionText{
    font-size: 0.75rem;
}


@media (min-width:1340px){

    .parentSectionText  {
        padding: 4rem 1rem ;
    }

    .rowTextBlogs h1 {
        font-size: 1.7rem;
    }
    .rowinputsSectionText form input {
        font-size: 1.7rem;
    }

}