
hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #d9d9d9;
  }
  label, input {
    cursor: pointer;
  }
  
  
  .modules{
      display: flex;
      flex-wrap: wrap;
      width: 85%;
      margin: 2rem auto;
      justify-content: space-between;
      animation: fadeIn 0.5s ease;
  }
  
  .pasmodules{
    text-align: center;
    opacity: 0.9;
    font-size: 26px;
    color: #1B67B0;
  }
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-40px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

  .top-text-wrapper {
    margin: 20px 0 30px 0;
  }
  .top-text-wrapper h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .top-text-wrapper code {
    font-size: 0.85em;
    background: linear-gradient(90deg, #fce3ec, #ffe8cc);
    color: #ff2200;
    padding: 0.1rem 0.3rem 0.2rem;
    border-radius: 0.2rem;
  }
  .tab-section-wrapper {
    padding: 30px 0;
  }
  
  label .checkbox-card {
    cursor: pointer;
  }
  label.checkbox-card .card-content-wrapper {
    background: #fff;
    border-radius: 5px;
   width: 320px;
   height: 200px;
    padding: 10px;

    margin-bottom: 2rem;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 200ms linear;
  }
  .checked{
   border: 2px solid #1B67B0;
   transform: scale(1.1);
  }


  .card-content{
     display: flex;
     justify-content: space-between;
     width: 100%;
     gap: 30px;
  }
  
  
  .card-content .profile {
      width: 35px;
      height: 35px;
      object-fit: cover;
      border-radius: 50%;
  }
  .card-content b{
      color: #1B67B0;
  }
  .info-personne{
      display: flex;
      gap: 10px;
      align-items: center;
      width: 100%;
  }
  .module-info {
      display: flex;
      gap: 4px;
      width: 70%;
      flex-direction: column;
  }
  
  .card-content-wrapper .title{
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0.2rem;
  }
  .btn-module{
      justify-content: end;
      display: flex;
      width: 93%;
      margin-bottom: 4rem;
  }
  .reservemodule{
      background-color: #E8451E;
      color: white;
     border: none;
     padding: 0.6rem;
     font-size: 0.9rem;
     font-weight: 500;
     outline: none;
     border-radius: 0.3rem;
     margin: 0 15px;
     cursor: pointer;
     width: 150px;
     transition: all .1s;
  }
  .selectAllbutton{
      background-color: #1B67B0;
      color: white;
     border: none;
     padding: 0.6rem;
     font-size: 0.9rem;
     font-weight: 500;
     outline: none;
     border-radius: 0.3rem;
     margin: 0 15px;
     cursor: pointer;
     width: 150px;
     transition: all .1s;
  }
 

      
@media (max-width : 767px){
  .modules{
      width:73%;
      margin-bottom: 1rem;
  }
}