:root {
  --orangeTouil : #E8451E;
  --blueTouil : #1B67B0;
  --cremaTouil : #F2F2F2;
}
 .adn {
   display: flex;
   flex-wrap: wrap;
 }

 .AdnShape,
 .AdnText {
   box-sizing: border-box;

 }

 .AdnShape {
   flex: 0 0 65%;
   height: 710px;
   background-image: url('../../../public/assets/Adn/AdnBg.png');
   background-repeat: no-repeat;
   background-size: cover;
   margin-top: -33px;
   color: white;


 }

 .AdnText {
   flex: 0 0 33%;
   padding: 20px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
 }

 .AdnText h1 {
   font-family: 'Raleway', sans-serif;
   font-size: 30px;
   font-weight: bold;
   line-height: 32px;
   margin: 0 0 72px;

 }


 .AdnText p {
   font-family: 'Raleway', sans-serif;
   font-size: 24px;
   line-height: 35px;
   margin: 0 0 24px;
   text-align: justify;
   text-justify: inter-word;
 }



 .notification {
   background-color: rgba(15, 15, 15, 0.37);
   padding: 15px;
   border-radius: 5px;
   position: relative;
   height: 110px;
   width: 300px;
   display: flex;
   align-items: center;
   backdrop-filter: blur(8px);
   border-radius: 25px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .notification .img {
   width: 90px;
   height: 90px;
   margin-right: 10px;
 }

 .notification .content {
   overflow: hidden;
 }

 .notification h2 {
   margin: 0;
   font-size: 16px;
   font-weight: bold;
 }

 .notification p {
   margin: 5px 0 0;
   font-size: 14px;
 }

 #ceo {
   left: 280px;
   top: 50px;
 }

 #com {
   left: 540px;
   top: 200px;
 }

 #design {
   left: 20px;
   top: 300px;
 }

 #ceo .img {
   background-image: url('../../../public/assets/Adn/Omar\ TL.jpg');
   background-size: cover;
   border-radius: 50%;
 }

 #com .img {
   background-image: url('../../../public/assets/Adn/Douae\ FH.jpg');
   background-size: cover;
   border-radius: 50%;
 }

 #design .img {
   background-image: url('../../../public/assets/Adn/Sohaib\ FH.jpg');
   background-size: cover;
   border-radius: 50%;
 }


 .btnScroll {
   background-image: linear-gradient(14deg, rgb(232, 69, 30), rgb(232, 69, 30), rgb(251, 145, 37));
   color: white;
   font-family: "Raleway", sans-serif;
   padding: 0.5rem 2rem;
   font-size: 1.2rem;
   border-radius: 20px;
   border: none;
   outline: none;
   cursor: pointer;
   margin: 0;
   transform: all .3s;
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 32px;
   margin-top: 5rem;
   
 }

 .btnScroll:hover {
   outline: 0.1rem solid var(--orangeTouil);
   background: transparent;
   color: var(--orangeTouil);
 }

 .btnScroll svg {
   fill: white;
   width:  1.5rem;
 }

 .btnScroll:hover svg {
  fill: var(--orangeTouil);
}

 .AdnText h1 {
   font-size: 26px;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
   width: 160px;
   text-align: start;

   white-space: nowrap;

 }

 .AdnText h1:before {
   background-color:  var(--orangeTouil);
   content: '';
   display: block;
   height: 3px;
   width: 75px;
   margin-bottom: 5px;
 }

 .AdnText h1:after {
   background-color:  var(--orangeTouil);
   content: '';
   display: block;
   position: relative;
   left: 8.5rem;
   bottom: 0;
   height: 3px;
   width: 75px;
   margin-bottom: 0.25em;
 }


@media screen and (max-width: 768px) {
  .adn{
    display: flex;
    flex-direction: column-reverse;
    
  }
  .AdnShape {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
  }

  .AdnText {
    flex: 0 0 97%;
    box-sizing: border-box;
  }
  .notification{
   position:static;
   margin-top: 10vh;
  }
  #design{
    margin-bottom: 10vh;
  }
}