:root {
    --orangeTouil : #E8451E;
    --blueTouil : #1B67B0;
    --blueTouilShadow : #1b68b057;
    --orangeTouilShadow : #e8461e72;
    --cremaTouil : #F2F2F2;
}

.ParentHome {
    overflow: hidden;
}

.ParentIllustrationIcons {
    overflow: hidden;
}

.ParentText  h1{
    font-family: "Raleway", "Noto Kufi Arabic",  sans-serif;
    font-size: 3.6rem;
    padding-top: 1rem;
    width: 70%;
    animation: slideIn 2s forwards;
}
.ParentText  p{
    font-family: "Raleway", "Noto Kufi Arabic",  sans-serif;
    font-size: 0.8rem;
    padding-top: 1rem;
    color: rgb(63, 63, 63);
    width: 40%;
    margin-top: -0.7rem;
    animation: slideIn 6s forwards;
}

#textIconScroll {
    font-size: 0.6rem;
    margin-top: -1rem;
    color: var(--orangeTouil);
}

.ParentText .btnScroll {
    background: transparent;
    color: var(--orangeTouil);
    font-family: "Raleway", "Noto Kufi Arabic",  sans-serif;
    padding: 1.1rem 0.6rem;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 1rem;
    transform: all .3s;
    outline: 0.15rem solid var(--orangeTouil);
    animation: slideIn 7s forwards;

}

.point {
    background-color: var(--orangeTouil);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    color: var(--orangeTouil);
    transform: translateY(-50%);
    animation: jump 1s infinite alternate;
}

.ParentIllustration {
    width: 70%;
    margin: auto;
    padding: 0;
    margin-top: -2rem;
    z-index: 2;
}


.i1 {
    position: absolute;
    width: 100px;
    top: 9rem;
    left: 8rem;
    rotate:-10deg;
    animation: rotateAnimation 40s infinite alternate;
    filter: drop-shadow(0 0 40px var(--blueTouilShadow));
}
.i5 {
    position: absolute;
    width: 100px;
    top: 21rem;
    left: 15rem;
    rotate:10deg;
    filter: blur(1px) drop-shadow(0 0 20px var(--blueTouilShadow));
    animation: rotateAnimationleftRight 20s infinite alternate;
}
.i2 {
    position: absolute;
    width: 120px;
    top: 21rem;
    left: 11rem;
    -webkit-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: 2;
    /* animation: jumpFit 20s infinite alternate; */
}
.i3 {
    position: absolute;
    width: 110px;
    top: 8rem;
    right: 7rem;
    rotate:-10deg;
    animation: rotateAnimationleftRightRev 20s infinite alternate;
    filter: drop-shadow(0 0 20px var(--orangeTouilShadow));
    
}
.i7 {
    position: absolute;
    width: 320px;
    top: 15rem;
    right: 4rem;
    rotate:10deg;
    animation: rotateAnimationleftRightRev 30s infinite alternate;
    filter: drop-shadow(0 0 20px var(--orangeTouilShadow));
}
.i8 {
    position: absolute;
    width: 150px;
    top: 26rem;
    right: 9rem;
    rotate:10deg;
    animation: rotateAnimationleftRightRev 20s infinite alternate;
    filter: drop-shadow(0 0 20px var(--blueTouilShadow));
}


.bigImgIll {
    width: 700px;
    margin-top: -0.7rem;
    margin-left: -4rem;
}


@media (max-width:1029px) {
    .bigImgIll {
        width: 600px;
    }
    .i1 {
        width: 100px;
        top: 8rem;
        left: 2rem;
    }
    .i7 {
        width: 150px;
        top: 14rem;
        right: 3rem;
    }
    .i8 {
        width: 90px;
        top: 24rem;
        right: 5rem;
    }
    .i2 {
        width: 120px;
        top: 19rem;
        left: 2rem;
    }
    .i5 {
        width: 90px;
        top: 19rem;
        left: 7rem;
    }
}
@media (max-width:650px) {
    .bigImgIll {
        width: 600px;
    }
    .i3 {
        position: absolute;
        width: 110px;
        top: 7rem;
        right: 1rem;
        rotate:-10deg;
    }
    .i1 {
        width: 100px;
        top: 8rem;
        left: 2rem;
    }
    .i7 {
        width: 120px;
        top: 12rem;
        right: 0rem;
    }
    .i8 {
        width: 90px;
        top: 24rem;
        right: 5rem;
    }
    .i2 {
        width: 120px;
        top: 19rem;
        left: 2rem;
    }
    .i5 {
        width: 90px;
        top: 19rem;
        left: 7rem;
    }
}


@media (max-width:776px) {
    .bigImgIll {
        width: 500px;
    }
}


@media (max-width:585px) {
    .bigImgIll {
        width: 400px;
    }
    
    .ParentText  h1{
        font-size: 3rem;
        padding-top: 1rem;
        width: 90%;
    }
    .ParentText  p{
        font-size: 0.7rem;
        padding-top: 1rem;
        width: 60%;
    }

    .i3 {
        position: absolute;
        width: 70px;
        top: 7rem;
        right: 1rem;
        rotate:-10deg;
    }
    .i1 {
        width: 60px;
        top: 8rem;
        left: 2rem;
    }
    .i7 {
        width: 180px;
        top: 14rem;
        right: 1rem;
    }
    .i8 {
        width: 50px;
        top: 21rem;
        right: 1.5rem;
    }
    .i2 {
        width: 70px;
        top: 19rem;
        left: 1rem;
    }
    .i5 {
        width: 50px;
        top: 19rem;
        left: 4rem;
    }
}

@media (max-width:450px) {
    .bigImgIll {
        width: 400px;
    }
    
    .ParentText  h1{
        font-size: 3rem;
        padding-top: 1.2rem;
        width: 90%;
    }
    .ParentText  p{
        font-size: 0.7rem;
        padding-top: 1rem;
        width: 60%;
    }

    .i3 {
        position: absolute;
        width: 50px;
        top: 7rem;
        right: 0.5rem;
        rotate:-10deg;
    }
    .i1 {
        width: 40px;
        top: 8rem;
        left: 1rem;
    }
    .i7 {
        width: 110px;
        top: 11rem;
        right: 1rem;
    }
    .i8 {
        width: 50px;
        top: 19rem;
        right: 1.7rem;
    }
    .i2 {
        width: 70px;
        top: 19rem;
        left: 1rem;
    }
    .i5 {
        width: 50px;
        top: 19rem;
        left: 4rem;
    }
}


@keyframes jump {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(20%);
    }
}

@keyframes jumpFit {
    0% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(20%);
    }
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateAnimationleftRight {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}
@keyframes rotateAnimationleftRightRev {
    0% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px); /* Example animation - you can customize */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Example animation - you can customize */
    }
  }