:root {
    --orangeTouil : #E8451E;
    --blueTouil : #1B67B0;
    --cremaTouil : #F2F2F2;
}

.parentReferences {
    background-image: linear-gradient(37deg, rgb(73, 159, 234),rgb(56,70,184));
    position: relative;
    bottom: 2rem;
    padding: 1rem;
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

.arrayReferences {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 1rem;
    margin-left: 4rem;
    padding-bottom: 1rem;
}

.imgLogoRefe{
    width: 100px;
    object-fit: contain;
    aspect-ratio: 3/2;
    filter: brightness(0) invert(1);
    transition: all .2s;
    margin: 1rem;    
}

.imgLogoRefe:hover {
    transform: scale(1.2);
    cursor: pointer;
    filter:  brightness(0) invert(1) drop-shadow(0 0 10px white);
}


.tooltip {
    position: relative;
    display: inline-block;
  }
    .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: white;
    font-weight: 600;
    font-size: 0.7rem;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 7rem;
    left: 50%;
    margin-left: -60px; 
    transition: all .1s;
  }
    .tooltip:hover .tooltiptext {
    visibility: visible;
  }



  @media (max-width : 1029px) { 
      .parentReferences {
          width: 90%;
        }
        .imgLogoRefe {
            width: 80px;
            margin: 0.5rem;
        }
    }
    
    @media (max-width : 742px) { 
        .parentReferences {
            width: 90%;
          }
        .imgLogoRefe {
            width: 70px;
        }
    }
    @media (max-width : 674px) { 
        .parentReferences {
            width: 95%;
          }
        .imgLogoRefe {
            width: 60px;
        }
    }
    @media (max-width : 468px) { 
        .imgLogoRefe {
            width: 40px;
            margin: 0;
        }
    }