.footer{
    background-color: #111928;
   width: 100%;
   align-items: center;
   color: white;
   margin: 0;
   padding: 2rem 4rem 1rem 4rem;
   /* position: absolute; */
   /* bottom: 0; */
}


.footer-content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}
.footer-content p{
  margin-top: 1rem;
}
.footer-logo{
    width: 250px;
}
.footer-socialmedia{
    display: flex;
    width: 240px;
    gap: 0.7rem;
    align-items: center;
}
.footer-socialmedia a {
    display: grid;
    place-items: center;
    text-decoration: none;
}
.footer-socialmedia a i {
    color: white;
    font-size: 2rem;
    border: 0.1rem solid white;
    border-radius: 50%;
    padding: 0.2rem;
    transition: all .2s ease-in;
}

.footer-socialmedia a i:hover {
    color: #111928;
    background-color: white;
}
.footer-icon:first-child{
  margin: 0 12px;
  font-size: 23px;
  color: white;
  background-color: #1B67B0;
  padding: 9px 13px;
  border-radius: 50%;
}
#ytb-icon,#linkdein{
    padding: 9px 9px;
}

.footer-icon:hover{
background-color: #1B67B0;
cursor: pointer;

}
.footer-copyright {
   text-align: center;
   padding-top: 20px;
   color: white;
}

.divFooterBtnDev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divFooterBtnDev button {
    color: white;
    background: none;
    outline: none;
    border: none;
    font-size: 1rem;
    margin: 1rem;
    font-weight: 500;
    text-decoration: underline;
    transition: all .1s ;
}

.divFooterBtnDev button:hover {
    text-decoration: none;
    text-shadow: 0 0 5px white;
    cursor: pointer;
}

@media (max-width : 766px){
    .footer{
        width: 100%;
    }
    .footer-content{
        display: block;

    }
    .footer-socialmedia{
        margin-top: 2rem;
        margin-left: -1.5rem;
        justify-content: center;
        width: 20rem;
    }
    .footer-copyright{
        line-height: 30px;
        font-size: 20px;
    }
  
    }