.footer{
    background-color: #1C1C1C;
   width: 100%;
   align-items: center;
   color: white;
   margin: 0;
   padding: 2rem 4rem 1rem 4rem;
}


.footer-content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}
.footer-content p{
  margin-top: 1rem;
}
.footer-logo{
    width: 250px;
}
.footer-socialmedia{
    display: flex;
    width: 240px;
}
.footer-icon:first-child{
  margin: 0 12px;
  font-size: 23px;
  color: white;
  background-color: #1B67B0;
  padding: 9px 13px;
  border-radius: 50%;
}
#ytb-icon,#linkdein{
    padding: 9px 9px;
}

.footer-icon:hover{
background-color: #1B67B0;
cursor: pointer;

}
.footer-copyright {
   text-align: center;
   padding-top: 20px;
   color: white;
}


@media (max-width : 766px){
    .footer{
        width: 100%;
    }
    .footer-content{
        display: block;

    }
    .footer-socialmedia{
        margin-top: 2rem;
        margin-left: -1.5rem;
        justify-content: center;
        width: 20rem;
    }
    .footer-copyright{
        line-height: 30px;
        font-size: 20px;
    }
    }