.contact{
  margin-bottom: 5rem;
  background-color: white;

}.contact-header{
  background-color: rgb(248, 249, 251);
    padding: 3rem 6rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.contact-title{
 display: block;
}
.contact-title h2{
 width: 300px;
 line-height: 30px;
}
.contact-text{
width: 600px;
line-height: 26px;

}
.contact-title p{
 color: #E8451E;
}
.contact-forms h1{
  width: 300px;
  line-height: 36px;
  font-size:29px;
  padding-top: 1.2rem;
}

.contact-info{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 11rem;
    margin-top: 3rem;
}
.iconemail{
  width: 200px;
  height: 200px;
  color: red;
}
.contact-map{
    display: flex;
    
    margin-top: 5rem;
    justify-content: center;
}
.contact-forms{
  background-color: #1B67B0;
  color: white;
  padding: 0.7rem 4rem;
}


.wave-group {
  position: relative;
}

.wave-group .input-contact {
  font-size: 18px;
  padding: 33px 10px 10px 5px;
  display: block;
  width: 340px;
  border: none;
  color: white;
  border-bottom: 1px solid #ffffff;
  background: transparent;

}

.wave-group .input-contact:focus {
  outline: none;
}

.wave-group .label {
  color: #ffffff;
  font-size: 18px;
  opacity: 0;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

::placeholder {
  color: #ffffff; 
}
.contact-button {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin:  40px 5px 10px 0;
    overflow: visible;
    padding: 7px 10px;
    width: 200px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .contact-button:focus {
    text-decoration: none;
  }
  
  .contact-button:hover {
    text-decoration: none;
  }
  
  .contact-button:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .contact-button:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

  .google-map{
    height: 30.6rem;
  }

  .e-mail,.adress,.telephone{
    display: flex;
  }
  #contact-icon i{
   font-size: 3rem;
   margin-right: 1rem;

  }
  #contact-info p{
  width: 270px;
  }
  
.map{
  opacity: 0.8;
  width: 440px;
  height:490px ;
}



    
@media (max-width : 767px){
  .contact-header{
      padding: 3rem 2rem;
      display: block;
      width: 100%;
  }
  .contact-text{
    margin-top: 2rem;
    width: 330px;
  }
  .contact-header h2{
    margin-top: 0.6rem;
  }
  .contact-info{
   gap: 30px;
   flex-direction: column;
    display: flex;
  }
  .contact-map{
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
}
.map{
  opacity: 0.8;
  width: 100%;
  height:500px ;
}
.contact-button {
padding: 10px 130px;
}
.contact-forms{
  padding-left: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;

}


  }

@media (max-width : 1025px){

  .map{
    height:500px ;
  }
}