.coomment {  
  margin: 6rem 1rem;
  overflow-x: hidden;
}

.entite {
  display: flex;
}

#etape {
  border-radius: 25px;
  width: fit-content;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);

}

#etape:hover {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;

}

.topEtapes h1 {
  width: fit-content;
  text-align: end;
  margin-left: 1rem;
  filter: drop-shadow(0 0 5px var(--blueBTouilShadow));
}

.topEtapesAr h1 {
  width: 100%;
  font-size: 33px;
  margin: 1rem 12.5rem;
  filter: drop-shadow(0 0 5px var(--blueBTouilShadow));
}


.topEtapes h1::before {
  background-image: linear-gradient(12deg, rgb(232, 69, 30), rgb(232, 69, 30), rgb(251, 145, 37));
  content: '';
  display: block;
  height: 4px;
  width: 75px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.etapes {
  left: 33rem;
  display: block;
  width: fit-content;
}


.etape1 {
  width: fit-content;
  margin-left: 3rem;
  margin-top: 3rem;
}

.etape2 {
  margin-left: 18rem;
  margin-top: 5rem;
}

.etape3 {
  margin-left: 18rem;
  margin-top: 2rem;
}

.etape4 {
  margin-left: 3rem;
  margin-top: 5rem;
}

.etape5 {
  margin-left: 18rem;
  margin-top: 5rem;
}

.bottomEtapes {
  justify-content: space-between;
  display: flex;
  margin-top: 4rem;
}

.pattermHowItWork {
  background-image: repeating-radial-gradient(circle at center center, rgb(250,251,252) 0px, rgb(250,251,252) 5px,transparent 5px, transparent 7px),linear-gradient(135deg, rgb(27,103,176) 0%,rgb(27,103,176) 39%); background-size: 33px 33px;
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
}
.patternHowITWorkReveal {
  background-image: repeating-radial-gradient(circle at center center, rgb(250,251,252) 0px, rgb(250,251,252) 5px,transparent 5px, transparent 7px),linear-gradient(135deg, rgb(27,103,176) 0%,rgb(27,103,176) 39%); background-size: 33px 33px;
  width: 100px;
  height: 150px;
  margin-left: 70%;
  margin-top: -7rem;
  position: relative;
  z-index: 21;
}
.circleHowItWorkPattern {
  border-radius: 50%;
  border: 0.1rem solid #1B67B0;
  background-color: transparent;
  width: 110px;
  height: 110px;
  margin-left: 73%;
  margin-top: -5.5rem;
  position: relative;
  z-index: 20;
}


.number-etape {
  color: #ffffff;
  font-size: 63px;
  padding-left: 1rem;
  background-size: 400% 400%;
  background-image: repeating-linear-gradient(90deg, rgba(245, 245, 245, 0.17) 0px, rgba(245, 245, 245, 0.17) 1px, transparent 1px, transparent 104px), repeating-linear-gradient(0deg, rgba(245, 245, 245, 0.17) 0px, rgba(245, 245, 245, 0.17) 1px, transparent 1px, transparent 104px), repeating-linear-gradient(0deg, rgba(245, 245, 245, 0.17) 0px, rgba(245, 245, 245, 0.17) 1px, transparent 1px, transparent 26px), repeating-linear-gradient(90deg, rgba(245, 245, 245, 0.17) 0px, rgba(245, 245, 245, 0.17) 1px, transparent 1px, transparent 26px), linear-gradient(45deg, rgb(27, 103, 176), rgb(27, 103, 176));
  animation: anim 30s infinite ease-in-out;
  position: relative;
  z-index: 20;
}

.title-etape {
  width: 322px;
  font-size: 23px;
  text-align: left;
  padding-left: 1rem;
  margin-left: 1rem;
  padding-bottom: 1rem;
  line-height: 30px;
  border-left: 0.2rem solid #1B67B0;
}

.reveal {
  visibility: hidden;
  position: relative;
  width: 80%;
  height: 80%;
  max-width: 500px;
  overflow: hidden;
}

.image-comment {
  margin-top: 2rem;
  width: 500px;
  transform-origin: left;
  object-fit: cover;
  position: relative;
}


.TextHow {
  margin: auto;
  padding: 3rem 0;
  background-image: repeating-linear-gradient(363deg, transparent 0px, transparent 3px, rgb(255, 255, 255) 3px, rgb(255, 255, 255) 32px), repeating-linear-gradient(421deg, transparent 0px, transparent 3px, rgb(255, 255, 255) 3px, rgb(255, 255, 255) 32px), linear-gradient(204deg, rgba(27, 103, 176, 0.19), rgba(155, 151, 247, 0), rgba(27, 103, 176, 0.19), rgba(247, 151, 175, 0), rgba(247, 210, 151, 0.18), rgba(232, 69, 30, 0.16), rgba(82, 82, 82, 0.15));
  margin-top: 4rem;
  width: 100%;
  align-items: center;
  text-align: center;
  padding-bottom: 2rem;
}

.TextHow p {
  margin: auto;
  font-size: 19px;
  text-align: center;
  width: 490px;

}


.btnToBlogs {
  color: white;
  background-color: #1B67B0;
  border: none;
  padding: 0.8rem 0.6rem;
  text-align: center;
  font-size: 1rem;
  justify-content: center;
  font-weight: 650;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 12rem;
  transition: all .1s;
  margin: auto;
  margin-top: 1rem;
  text-decoration: underline #1B67B0;
}



.btnToBlogs:hover {
  animation: anim 1s infinite ease-in-out;
}

.btnToBlogs:active {
  background-color: black;
  transform: scale(0.95);
}


.circleHowItWork {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #80bbff33;
  border-radius: 50%;
  filter: blur(20px);
  margin-top: -3rem;
}

@media (max-width: 1025px) {
  #etape {
    border-radius: 25px;
    width: fit-content;
}
}


@media (max-width : 767px) {
  .patternHowITWorkReveal {
    width: 70px;
    height: 80px;
   margin-left: 80%;
   margin-top: -4rem;
  }
  .coomment {
    margin: 0;
  }

  .coomment h2 {
    width: 80%;
    margin-top: 4rem;
    margin-left: 0;
    font-size: 28px;
    justify-content: center;
    text-align: center;
  }

  #etape {
    border-radius: 25px;
    width: 190px;
    margin-left: 2.5rem;
  }

  .image-comment {
    background: linear-gradient(19deg, rgb(232, 69, 30), rgba(250, 132, 22, 0.087), rgba(251, 201, 37, 0.096)), url('/public/assets/bgServices/marketing.jpg');

    width: 98%;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .etapes {
    left: 0;
    width: 10rem;
  }

  .entite {
    display: block;
  }

  .bottomEtapes {
    display: block;
    width: 90%;
    margin-top: 2rem;
  }

  .etape2 {
    margin-left: 3rem;
  }

  .etape1 {
    margin-left: 7rem;
  }

  .etape3 {
    margin-left: 7rem;
    margin-top: 4rem;
  }

  .etape4 {
    margin-left: 7rem;
    margin-top: 6rem;
  }

  .etape5 {
    margin-left: 7rem;
    margin-top: 6rem;
  }


  .TextHow p {
    width: 90%;
  }
}




@media (max-width : 1025px) {
  .coomment {
    margin-top: 3rem;
  }

  .coomment h2 {
    width: 100%;
    margin-top: 4rem;
    margin-left: 0;
    font-size: 34px;
    justify-content: center;
    text-align: center;
  }

  #etape {
    border-radius: 25px;
    width: 400px;
  }

  .image-comment {
    width: 98%;

    margin-left: 2rem;
  }

  

  .entite {
    display: block;
  }

  .bottomEtapes {
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
  }

}




@media (max-width : 390px) {
  .patternHowITWorkReveal {
    width: 70px;
    height: 80px;
   margin-left: 80%;
   margin-top: -4rem;
  }
  .TextHow p {
    margin: auto;
    font-size: 16px;
    text-align: center;
    width: 490px;
  
  }
}

@media (min-width:1340px){

  .coomment {
    font-size: 1.7rem;
  }

  .number-etape {
    font-size: 5.7rem;
  }

  .title-etape {
    font-size: 1.6rem;
  }

 
  .reveal {
    width: 50%;
    height: 120%;
  }

  .image-comment {
    width: 77vh;
    height: 600px;
  }

  .etape2  {
    margin-left: 42rem;
    margin-top: -5rem;
  }
  .etape3  {
    margin-left: 60rem;
    margin-top: -5rem;
  }
  .etape4  {
    margin-left: 10rem;
    margin-top: -2rem;
  }
  .etape5  {
    margin-left: 40rem;
    margin-top: -2rem;
  }

  .TextHow  {
    padding: 4rem 1rem ;
  }


  .TextHow p  {
    font-size: 1.7rem;
    width: 50%;
  }

  .btnToBlogs {
    font-size: 1.7rem;
    width: fit-content;
  }
  .topEtapes{
    margin-left: 2rem;
    width: 40%;
  }
  .entite{
    gap: 100px;
   
      width: 100%;
    }

  

}