:root {
  --orangeTouil : #E8451E;
  --blueTouil : #1B67B0;
  --blueTouilShadow : #1b68b057;
  --orangeTouilShadow : #e8461e72;
  --cremaTouil : #F2F2F2;
}
  .circle {
    position: fixed;
    height: 20px;
    width: 20px;
    /* border: 1px solid var(--blueTouil); */
    /* background-color: var(--orangeTouil); */
    /* mix-blend-mode: difference; */
    background-color: var(--blueTouil);
    border-radius: 100%;
    top: calc(40 / 2 * -1);
    left: calc(40 / 2 * -1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    pointer-events: none;
    z-index: 1200;
  }