:root {
    --orangeTouil : #E8451E;
    --orangeTouilOpacity : #f83200bd;
    --blueTouil : #1B67B0;
    --blueTouilWhite : #217bd0;
    --cremaTouil : #F2F2F2;
}

::selection {
    background-color: var(--orangeTouilOpacity);
    color: var(--blueTouil);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", "Noto Kufi Arabic",  sans-serif;

}

.App{
    font-family: "Raleway", sans-serif;
    color: #111928;
    background-color:rgb(250, 251, 252);
}

img {
  pointer-events: none;
}
