:root {
    --orangeTouil : #E8451E;
    --orangeTouilOpacity : #f83200bd;
    --blueTouil : #1B67B0;
    --blueTouilWhite : #217bd0;
    --cremaTouil : #F2F2F2;
}

::selection {
    background-color: var(--orangeTouilOpacity);
    color: var(--blueTouil);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", "Noto Kufi Arabic",  sans-serif;

}


body {
  --sb-track-color: #1b67b0;
  --sb-thumb-color: #f2f2f2;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}


.App{
   background-color:rgb(250, 251, 252);
    font-family: "Raleway", sans-serif;
}

