:root {
    --orangeTouil : #E8451E;
    --blueTouil : #1B67B0;
    --blueTouilShadow : #1b68b057;
    --orangeTouilShadow : #e8461e72;
    --cremaTouil : #F2F2F2;
} 

.parentBottomServices {
    width: 86vw;
    height: 300px;
    margin: auto;
    background-size: cover;
    background-position: 20px;
    background-image:linear-gradient(135deg, rgba(26, 19, 1, 0.46),rgb(133, 39, 16)), url('/public/assets/bgServices/bottomServices.jpg');
    place-items: center;
    display: grid;
    border-radius: 6px;
    color: white;
    margin-bottom: 6rem;
    margin-top:-12rem;
}

.bottomService p {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(255, 204, 0);
}

.bottomService h2 {
    font-size: 1.3rem;
    text-align: center;
}

.contactServices {
    margin: 0.5rem 0rem;
    text-align: center;
}
.contactServices h1{
    text-align: center;
}
.bottomService h6{
    text-align: center;
    color: rgb(255, 204, 0);
    font-weight: 500;
    font-size: 0.9rem;
}
.bottomService button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 0.4rem;
    text-decoration: none;
    transition: all .2s ease-in;
    position: relative;
}
.bottomService button i{
    background-color: #fd4c20;
    color: white;
    padding: 0.2rem;
    margin-left: 0.4rem;
    font-size: 2rem;
}


.bottomService button:hover {
    background-color: #fd4c20;
    color: white;
}

      
@media (max-width : 767px){
   .parentBottomServices{
    margin-top: 0;
   }
    
}