:root {
    --orangeTouil : #E8451E;
    --orangeTouilShadow : #e8461e25;
    --blueTouil : #1B67B0;
    --cremaTouil : #F2F2F2;
    --bgTouil : rgb(248, 249, 251);

}

.parentNavbar {
    background-color: var(--bgTouil);
    width: 100%;
    display: flex;
    flex-direction: row;
    top: 3px;
    left: 0;
    justify-content: space-around;
    padding: 0.3rem 1rem;
    position: sticky;
    z-index: 1501;
}

.burgerMenuUl {
    display: none;
}

.menuBtn {
    background-image: linear-gradient(14deg, rgb(232,69,30),rgb(232,69,30),rgb(251,145,37));
    color: white;
    padding: 0.4rem 0.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}
.menuBtn:hover {
    box-shadow: 0 0 10px 10px var(--orangeTouilShadow);
}


.ulBrandLogo {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.brandLogo {
    width: 15rem;
}

.ulLinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
}

.ulLinks li a {
    text-decoration: none;
    color: var(--orangeTouil);
    font-weight: 500;
    transition: all .1s;
    font-family: "Raleway", "Noto Kufi Arabic",  sans-serif;
    transition: all 0.7s ease;

}

.ulLinks li a:active {
    color: var(--blueTouil);

}

.parentBtns {
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

.demandBtn {
  background-color: #1B67B0;
     color: white;
    border: none;
    padding: 0.6rem;
    font-size: 0.8rem;
    font-weight: 500;
    outline: none;
    font-family: "Raleway", "Noto Kufi Arabic",  sans-serif;
    border-radius: 0.3rem;
    margin: 0 15px;
    cursor: pointer;
    transition: all .1s;
}

.demandBtn:hover {
    animation: anim 1s infinite ease-in-out;
}
.demandBtn:active { 
    background-image: linear-gradient(14deg, rgb(232,69,30),rgb(232,69,30),rgb(251,145,37));
    transform: scale(0.95);
}

.langBtn {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
    cursor: pointer;
    border: none;
    outline: 0.05rem solid white;
}
.langBtn img{
    width: 160%;
    object-fit: cover   ;
}

.toggleMenu { 
    display: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-image: linear-gradient(14deg, rgb(232,69,30),rgb(232,69,30),rgb(251,145,37));
    transition: width .3s;
}

  
  li {
    display: inline-block;
    position: relative;
  }
  ul ul {
    display: none;
    position: absolute;
    top: 1.4rem;
    left: 0;
    background-color: #f1f1f1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 12px;
    padding: 0.6rem 0.6rem ;
    min-width: 180px;
    z-index: 1;
    filter: drop-shadow(0px 0 3px #fff);

  }
  
  li:hover ul {
    display: block;
  }
  
  li ul li {
    display: block;
list-style-type: none;

  }
  .items{
    padding: 8px;
  }
  .items .cool-link-child{
    color: #111928;
   transition: all 0.7s ease;
  }
  
  .items .cool-link-child:hover{
padding-left: 5px;
color: #E8451E;
}

.cool-link:hover::after {
    width: 100%;
   padding-left: 5px;
    transition: width .2s;
} 

#country {
    padding: 5px;
}

#country option {
    padding-left: 25px; 
    background-repeat: no-repeat;
    background-position: 3px 50%;
}

 

@media (max-width : 644px){
   
     .langParent{
   position: absolute;
   left: 17.7rem;
   bottom: 0rem;
   button{
    width: 2.8rem;
    height: 2.8rem;
   }
    }
    
    .parentNavbar {
        backdrop-filter: blur(20px);
        height: 100vh;
        position: fixed;
        z-index: 10;
        width: 100%;
        justify-content: space-between;
        align-items: start;
    }
    .parentNavbarMenu {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        z-index: 10;
        width: 100%;
        justify-content: space-between;
        align-items: start;
    }
    .ulLinks {
        display: block;
        position: absolute;
        left: 1rem;
        top: 5rem;
    }
    .ulLinks li {
        margin: 0.6rem;
    }
    .ulLinks li::before {
        position: relative;
        font-size: 4rem;
        top: 1.8rem;
        color: var(--orangeTouil);
    }
    .ulLinks li a {
        font-size: 1.5rem;
        width: 200px;
    }
    .parentBtns {
        display: flex;
        flex-direction: column;
    }
    .demandBtn {
        font-size: 1.2rem;
        width: 14rem;
        margin-left: 3.3rem;
        margin-top: 1rem;
        padding: 0.6rem 0.9rem;
    }
    .burgerMenuUl {
        display: flex;
    }
    .ulLinks.active {
        display: block;
        width: 140px;
        margin: 1rem 0 0 1.4rem;

    }
    .ulLinks {
        display: none;
    }
}

.arrow {
    font-size: 0.7rem;
    color: var(--orangeTouil);
    margin-left: 0.3rem;
}

@keyframes anim {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}