
.FixedNav {
    width: 100%;
    background-color: transparent; 
   backdrop-filter: blur(10px);
}
  
  #navbar {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    text-align: center; 
  }

  .links {
    width: 80%;
  }
  
  .logo {
    justify-content: left;
  }
  #navbar li {
    display: inline-block;
   
  }
  
  #navbar a {
    display: block;
    color: #FF5601;
    padding: 0 15px;
    text-decoration: none;
  }
  #navbar a img {
    width: 100px;
  }

  .right{
    align-items: center;
    width: 30%;
    justify-content: space-around;
    display: flex;
  }

.button {
  background-color: #4D4AE8;
  border: none;
  border-radius: 1rem;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
}