.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 105vh;
    backdrop-filter: blur(13px);
    background-image: linear-gradient(37deg, rgba(0, 31, 135, 0.2),rgba(255, 145, 0, 0.26));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    overflow: hidden;
}

/* arabic style */


.reverseContentPopup {
    flex-direction: row-reverse;
}



.popup-inner {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.close-btn {
    position: absolute;
    top: 3px;
    right: 30px;
    transition: all 200ms;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    text-decoration: none;
    color: black;
    background: none;
    border: none;
    outline: none;
}

.close-btn:hover {
    text-shadow: 0 0 10px  #7171715b;
}

.close-btn:active {
    color: var(--orangeTouil);
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
    filter: drop-shadow(0 0 40px var(--blueBTouilShadow));
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
    display: flex;
    margin-top: 2rem;
    animation: 1.5s cubic-bezier(.25, 1, .30, 1) square-in-hesitate both;
}
@keyframes square-in-hesitate {
    0% {
      clip-path: inset(100% 100% 100% 100%);
    }
    40% {
      clip-path: inset(33% 33% 33% 33%);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:square:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-hesitate both;
  }

.wrapper .left {
    width: 35%;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    color: white;
    background-color: white;
    padding: 0.5rem;
}

.infoPopUpCard {
    margin-top: -10rem;
}

.wrapper .left i {
    color: white;
    border: 0.01rem solid white;
    border-radius: 50%;
    padding: .2rem ;
    transition: all .1s;
    cursor: pointer;
}
.wrapper .left i:hover {
    background-color: white;
    color: var(--orangeTouil);
}
.wrapper .left i:active {
    color: black;
}

.wrapper .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.wrapper .left h4 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.wrapper .left p {
    font-size: 0.8rem;
    opacity: 0.8;
}

.wrapper .right {
    width: 65%;
    background-color: white ;
    padding: 30px 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-x: hidden;
    overflow: scroll;
    --sb-track-color: #ffffff;
    --sb-thumb-color: #1b67b0;
    --sb-size: 2px;
}


.wrapper .right::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  .wrapper .right::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  .wrapper .right::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    .wrapper .right {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

.wrapper .right .info,
.wrapper .right .projects {
    margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
    display: flex;

    justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
    width: 100%;
    
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
    color:  var(--orangeTouil);
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
    font-size: 1rem;
    margin: 0.2rem;
    margin-bottom: 1rem;
    color: #919aa3;
    width: 90%;
}

.infoAr h3 {
    text-align: end;
}
.infoAr .info_data .data h4 {
    text-align: end;
}
.infoAr .info_data .data p {
    text-align: end;
    position: relative;
    left: 1.5rem;
}

.projectsAr h3 {
    text-align: end;
}
.projectsAr p {
    text-align: end;
}
.wrapper .social_media ul {
    display: flex;
    justify-content: center;
}

.wrapper .social_media ul li {
    width: 45px;
    height: 45px;
    background: transparent;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    margin-top: 1em;
}

.wrapper .social_media ul li a {
    color: var(--blueTouil);
    display: block;
    font-size: 18px;
}


@media (max-width:817px) {
    .wrapper{
        flex-direction: column;
    }
    .wrapper .left{
        width: 100%;
        height: 300px;
        border-radius: 10px;
    }
    .wrapper .right{
        width: 100%;
        height: 300px;
        overflow: scroll;
        border-radius:10px ;
        margin-top: 0.3rem;
    }
    .wrapper .img{
        height: 300px;
    }
    .info_data {
        flex-direction: column;
    }
}


@media (min-width:1340px){
    .wrapper  {
        font-size: 1.4rem;
    }
    .wrapper .left h4 {
        margin-bottom: 0;
        font-size: 2rem;
    }
    .infoPopUpCard p {
        font-size: 1.4rem;
    }
    .wrapper .left p {
        font-size: 1rem;
        opacity: 0.8;
    }
    .wrapper .social_media ul li a  {
        font-size: 2.3rem;
    }

    .wrapper .social_media ul {
        gap: 1rem;
    }

    .wrapper .right .info_data .data, .wrapper .right .projects_data .data  {
        font-size: 1.7rem;
    }

    .wrapper .right .info_data .data p, .wrapper .right .projects_data .data p {
        font-size: 1.7rem;
    }

    .wrapper .right .info_data .data p, .wrapper .right .projects_data .data p {
        width: 95%;
    }

}
  