.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(13px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    overflow: hidden;
}

/* arabic style */


.reverseContentPopup {
    flex-direction: row-reverse;
}

.popup-inner {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.close-btn {
    position: absolute;
    top: 3px;
    right: 30px;
    transition: all 200ms;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background-image: linear-gradient(37deg, rgb(20,91,158),rgb(53,196,255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.close-btn:hover {
    text-shadow: 0 0 10px  #7171715b;
}

.close-btn:active {
    background-image: linear-gradient(20deg, rgb(249, 66, 6),rgb(255,126,0),rgb(251, 202, 37));
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
    filter: drop-shadow(0 0 40px var(--blueBTouilShadow));
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
    display: flex;

}

.wrapper .left {
    width: 35%;
    background-image: linear-gradient(20deg, rgb(27,103,176),rgb(27,103,176),rgb(37,223,251));
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: white;
}

.wrapper .left i {
    color: white;
    border: 0.01rem solid white;
    border-radius: 50%;
    padding: .2rem ;
    transition: all .1s;
    cursor: pointer;
}
.wrapper .left i:hover {
    background-color: white;
    color: var(--orangeTouil);
}
.wrapper .left i:active {
    color: black;
}

.wrapper .left img {
    margin-bottom: 1rem;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: top ;
    border-radius: 50%;
    border: 0.3rem solid transparent;
    outline: 0.2rem solid rgba(255, 255, 255, 0.874);

}

.wrapper .left h4 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.wrapper .left p {
    font-size: 0.8rem;
    opacity: 0.8;
}

.wrapper .right {
    width: 65%;
    background-color: white ;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
    margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: var(--blueTouil);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
    display: flex;

    justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
    width: 100%;
    
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
    color:  var(--orangeTouil);
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
    font-size: 1rem;
    margin: 0.2rem;
    margin-bottom: 1rem;
    color: #919aa3;
    width: 90%;
}

.wrapper .social_media ul {
    display: flex;
    justify-content: center;
}

.wrapper .social_media ul li {
    width: 45px;
    height: 45px;
    background: transparent;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    margin-top: 1em;
}

.wrapper .social_media ul li a {
    color: var(--blueTouil);
    display: block;
    font-size: 18px;
}

