:root {
  --orangeTouil : #E8451E;
  --orangeTouilOpacity : #f83200bd;
  --blueTouil : #1B67B0;
  --blueTouilWhite : #217bd0;
  --cremaTouil : #F2F2F2;
}

.faq {
  width: 80%;
  margin: auto;
  height: 100vh;
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
  position: relative;
  bottom: 2rem;
}

.h1FAQ {
  margin: 0;
  position: relative;
  top: 3rem;
}

.FAQ-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.accordion {
  width: 90%;
  margin: auto;
}

.right-faq {
  width: 100%;
}

.accordion .accordion-item:not(:last-child) {
  border-bottom: 2px solid #55555577;
  }

#lastAccordionContent {
  background-color: #fafbfc2f;
  backdrop-filter: blur(12px);
  position: relative;
  z-index: 20;
  padding-bottom: 3rem;
}


.accordion button[aria-expanded='true'] {
  border-bottom: 3px solid #e8461ebf;
  padding: 1rem 0;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #111928;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #111928;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #111928;
  border: 1px solid #111928;
}

.accordion .accordion-title {
  padding: 1em 1.5em 1em 0;
  font-weight: 600;
}

.accordion .icon {
  display: grid;
  place-items: center;
  position: absolute;
  top: 18px;
  right: 0;
  color: #E8451E;
  width: 1.5rem;
  height: 1.5rem;
  border: 1.5px solid;
  border-radius: 50%;
}

.accordion .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #111928;
}

.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

.accordion-content p {
  padding: 1rem 0;
  padding-left: 1rem;
  color: #111928c4;
  height: fit-content;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
}

.accordion button[aria-expanded='true']+.accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
}

.colImgFAQ {
  width: 40%;
}

.colImgFAQ img {
  width: 420px;
  position: relative;
  left: 2.5rem;
  bottom: 2rem;
}



@media (max-width : 766px) {

  .faq {
    width: 90%;
    margin: 2rem 0 2rem 3rem;
  }

  .FAQ-content {
    display: block;
  }

  .accordion {
    width: 90%;
  }

  .right-faq {
    width: 70%;
    margin-left: 5rem;
  }
}

@media (max-width:1000px) {

  .colImgFAQ {
    display: none;
  }
}

@media (max-width:581px) {
  .accordion {
    width: 80%;
    position: relative;
    right: 2rem;
  }

  .accordion-title {
    width: 100%;
    font-size: 1.4rem;
  }

  .accordion-item button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}