:root {
    --orangeTouil : #E8451E;
    --blueTouil : #1B67B0;
    --blueTouilShadow : #7116e057;
    --blueBTouilShadow : #1b68b041;
    --orangeTouilShadow : #e8461e72;
    --cremaTouil : #F2F2F2;
}


.parentSectionFAQ {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: auto;
    height: 100vh;
}

.colImagesFAQ {
    width: 50%;
}
.imgFAQ1 {
    width: 500px;
    transform: rotate(5deg);
}

.imgFAQ2 {
    position: absolute;
    width: 300px;
    left: 6rem;
}

.colTextFAQ {
    width: 50%;
    padding: 1rem;
}

.ulFAQuestions {
    padding-top: 1rem;
}
.colTextFAQ h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 32px;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: start;
    white-space: nowrap; 
}

.colTextFAQ h1:before {
    background-color:  var(--orangeTouil);
    content: '';
    display: block;
    height: 3px;
    width: 30px;
    position: relative;
    right: 1rem;
    margin-bottom: 2px;
  }
 
  .colTextFAQ h1:after {
    background-color:  var(--orangeTouil);
    content: '';
    display: block;
    position: relative;
    left: 2rem;
    bottom: 0;
    height: 3px;
    width: 45px;
    margin-bottom: 0.25em;
  }

.btnFAQ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(42deg, rgb(232,69,30),rgb(232,69,30),rgb(251,137,37));
    color: white;
    padding: 0.8rem 1.2rem ;
    width: 450px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 0.5rem;
    cursor: pointer;
    transition: all .15s;
}
.btnFAQ:hover {
    transform: scale(1.05);
}

.bx-chevrons-down {
    font-size: 1.2rem;
    transition: all .3s;
}


.descriptionResponse {
    font-size: 0.8rem ;
    margin: 1rem;
}
.btnFAQ:focus > .bx-chevrons-down {
    transform: rotate(180deg);
}

.btnFAQ:not(:focus) > .bx-chevrons-down {
    transform: rotate(0deg);
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slideDownAnimation {
    animation: slideDown 0.5s ease forwards;
}

.fadeDownAnimation {
    animation: fadeDown 0.5s ease forwards;
}




    
@media (max-width : 767px){
    .colImagesFAQ{
        display: none;
    }
    .ulFAQuestions{
        width: 80%;
    }
    .parentSectionFAQ{
        margin: 0;
        width: 100%;
        height: 55vh;
        padding: 0;
    }
    .colTextFAQ{
        width: 100%;
    }
    .colTextFAQ h1{
        margin-left: 3rem;
    }
    }
  
  @media (max-width : 1025px){
  
   
  }