
.faq {
  width: 90%;
  margin: 3rem 0 3rem 7rem;
}

.FAQ-content {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.accordion{
  width: 53%;
}
.right-faq{
  width: 35%;
}
.accordion .accordion-item {
  border-bottom: 1px solid #111928;
}

.accordion button[aria-expanded='true'] {
  border-bottom: 1px solid #111928;
  padding: 1rem 0;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #111928;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color:#111928;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #111928;
  border: 1px solid #111928;
}

.accordion .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  color: #E8451E;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #111928;
}

.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion-content p{
  padding: 1rem 0;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
}

.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
}

.faq-img{
  width: 300px;
}



@media (max-width : 766px){
  
.faq {
  width: 90%;
  margin: 2rem 0 2rem 3rem;
}
  .FAQ-content {
    display: block;
  }
  .accordion{
    width: 90%;
  }
  .right-faq{
    width: 70%;
    margin-left: 5rem;
  }
}