:root {
    --orangeTouil : #E8451E;
    --blueTouil : #1B67B0;
    --blueTouilShadow : #1b68b057;
    --orangeTouilShadow : #e8461e72;
    --cremaTouil : #F2F2F2;
}

.parentLogin {
    width: 80vw;
    height: 80vh;
    margin: auto;
    display: grid;
    place-items: center;
}

.parentLogin form {
    background-color: black;
    padding: 3.5rem;
    padding-bottom: 3rem;
    display: grid;
    place-items: center;
    width: 50%;
    border-radius: 5px;
}
.parentLogin form table {
    width: 100%;
}

.parentLogin form table img {
    width: 250px;
    margin-top: -2rem;
}

.tdInput {
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid white;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

}
.parentLogin form table input {
    width: 100%;
    background: transparent;
    padding: 0.5rem;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
}
.parentLogin form table button {
    display: block;
    background: transparent;
    color: rgb(199, 199, 199);
    border: none;
    outline: none;
    margin: 0.6rem 0;
    text-decoration: underline;
    cursor: pointer;
}

.parentLogin form table button:hover {
    color: white;
}

.bx-envelope, .bx-lock-alt {
    color: white;
    font-size: 1.5rem;
}

#inputSubmitAdmin {
    background-color: white;
    color: black;
    cursor: pointer;
    width: 400px;

    margin-top: 0.7rem;
    margin-bottom: -2rem;
}

.error {
    background-color: white;
    color: red;
    display: block;
    padding: 0.2rem;
    border-radius: 3px;
}

@media (max-width:865px){
    .parentLogin {
        width: 90vw;
    }
    .parentLogin form {
        width: 90%;
        margin: auto;
    }
    .parentLogin form table {
        margin: auto;
    }
}

@media (max-width:430px){
    .parentLogin form table {
        position: relative;
        right: 1rem;
    }
}