:root {
  --orangeTouil : #E8451E;
  --blueTouil : #1B67B0;
  --cremaTouil : #F2F2F2;

}

 .adn {
   display: flex;
   flex-wrap: wrap;
   width: 80%;
   margin: auto;
 }

 .AdnText {
   box-sizing: border-box;
   flex: 0 0 40%;
   padding: 20px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: center;
  align-items: flex-end;
  backdrop-filter: blur(7px);
  height: fit-content;
  border-radius: 7px;
 }

 .h1Adn {
   font-size: 30px;
   font-weight: bold;
   line-height: 32px;
   margin: 0 0 22px;
   font-size: 26px;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
   text-align: end;
   white-space: nowrap; 
 }
 .h1 {
  width: 100%;
   font-size: 30px;
   font-weight: bold;
   line-height: 32px;
   margin: 70px 0 42px;
   font-size: 26px;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
   text-align: start;
   white-space: nowrap; 
 }


 .AdnText p {
   line-height: 30px;
  font-size: 20px;
   margin: 0 0 24px;
   text-align: justify;
   width: 28rem;
 }
 .buttonMore {
  position: relative;
  transition: all 0.3s ease-in-out;
  padding-block: 0.5rem;
  padding-inline: 1.55rem;
  background:#E8451E;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 10px;
  font-weight: 600;
  border: none;
  outline: none;
  overflow: hidden;
  margin-top: 25px;
  font-size: 15px;
}
.adn-satisfier{
  margin-top: 0.5rem;
  border-radius: 10px;
  
  padding: 1rem 2rem;
  background-color: white;

}
.quote{
  position: absolute;
  width: 40px;
  right: 4.7rem;
  margin-top: -2.2rem;
}


.icon {
  width: 24px;
  height: 24px;
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}

.buttonMore:hover {
  transform: scale(1.05);
}

.buttonMore:hover .icon {
  transform: translate(4px);
  transform: rotate(90deg);

}
.buttonMore:focus .icon {
  transform: translate(4px);
  transform: rotate(90deg);

}

.buttonMore:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.buttonMore::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
 .AdnContent{
  height: 85vh;
  background-image: url('../../../public/assets/Adn/AdnBg1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  padding: 6%;
  display: flex;
  justify-content: flex-end;
}


.Team{
  width: 80%;
  margin:auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 3rem;
}


.card {
  padding: 2em 1em;  
  border-radius: 0.6em;
  text-align: center;
  box-shadow: rgba(61, 106, 151, 0.2) 0px 8px 24px;
  width: 18rem;
  display: flex;  
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden;
  margin-bottom: 1rem;
  background-image: repeating-linear-gradient(363deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 32px),repeating-linear-gradient(421deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 32px),linear-gradient(204deg, rgba(27,103,176, 0.19),rgba(155,151,247, 0),rgba(27,103,176, 0.19),rgba(247,151,175, 0),rgba(247,210,151, 0.18),rgba(232,69,30, 0.16),rgba(82,82,82, 0.15));
}


@keyframes animateRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card::before::after {
  position: absolute;
  content: 'Your Content';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Other styling for your content */
}

.card-img {
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 3.5vh;
  border: white  solid 4px;
  position: relative; 
  z-index: 1;
}



#com {
  background-image: url('../../../public/assets/Adn/Douae\ FH.jpg');
  transform: rotate(90deg);

}
#ceo {
  background-image: url('../../../public/assets/Adn/Omar\ TL.jpg');
  transform: rotate(5deg);

}
#design {
  background-image: url('../../../public/assets/Adn/Sohaib\ FH.jpg');
  transform: rotate(-90deg);

}

.card-title {
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 1rem;
}

.p { 
  margin: 0.5em 0; 
  color: #111928;
  font-size: 1em;
  border-radius: 2px;
  
}
.p-ceo { 
  margin: 0.5em 0; 
  font-size: 1em;
  color: #111928;
 
}




@media screen and (max-width: 768px) {
  .AdnText {
    flex: 0 0 97%;
    box-sizing: border-box;
  }
}

.add-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease, fill 0.3s ease; 
}

.bx-plus-circle {
  border-radius: 2px;
  font-size: 3rem;
  font-weight: 400;
  color: #1B67B0;
}


.add-button svg path {  
  stroke: #808080;  
}

.add-button:hover {
  transform: rotate(90deg); 
  fill: #ccc; 
}

.add-button:active {
  stroke: #222; 
  fill: #ddd; 
}


#borderceo{
  width: 215px;
  height: 215px; 
  box-sizing: border-box;
  padding: 7px;
  border-radius: 50%; 
  background: conic-gradient(white 7deg, var(--blueTouil) 0deg);
  transform: rotate(-5deg);
  position: relative;
}

#bordercom{
  width: 215px;
  height: 215px;
  box-sizing: border-box;
  padding: 7px;
  border-radius: 50%; 
  background: conic-gradient(white 7deg, var(--orangeTouil) 0deg);
  transform: rotate(-90deg);
}
#borderdesign{
  width: 215px;
  height: 215px; 
  box-sizing: border-box;
  padding: 7px;
  border-radius: 50%;
  background: conic-gradient(rgb(255, 255, 255) 7deg, var(--orangeTouil) 0deg);
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

#design:hover #borderdesign {
    transform: rotate(360deg);
    transition: transform 0.3s ease-in-out;

}


@media screen and (max-width: 768px) {
  .AdnContent {
    width: 100%; 
    background-position-x: left;
    background-position-y: top;
    height: fit-content;
 margin-top: 5rem;

  }
  .AdnText{
    justify-content: flex-start;
  }
  .h1Adn, .h1 {
    font-size: 32px; 
  }
  .p {
    font-size: 18px;

  }
  .AdnContent p{
    left: 0;
    width: 90%;
  }
  .Team {
    justify-content: space-between; 
  }
}

@media screen and (max-width: 768px){
  .Team {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
  .p {
    font-size: 16px; 
  }
}

@media screen and (max-width: 768px) {
  .h1Adn, .h1 {
    font-size: 28px;
  }
  .p {
    font-size: 14px; 
  }
  .card {
    padding: 2.5em 1em; 
  }
}


@media (min-width:1340px){

  .h1LandingPage {
    font-size: 3.4rem;
  } 

  .AdnContent {
    height: 75vh;
  }

  .AdnText {
    margin-right: 2rem;
  }

  .AdnText p {
    font-size: 1.7rem;
    text-align: start;
    line-height: 35px ;
    width: 98%;
  } 

  .buttonMore {
    font-size: 1.9rem;
  }

  .card {
    font-size: 1.8rem;
    width: 30%;
}
#borderdesign {
    width: 315px;
    height: 315px;
}
#borderceo {
    width: 315px;
    height: 315px;
}
#bordercom {
    width: 315px;
    height: 315px;
}
.card-img {
    width: 300px;
    height: 300px;
}
.bx-plus-circle {
    font-size: 4.5rem;
}
.card .p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

}
