:root {
    --orangeTouil : #E8451E;
    --blueTouil : #1B67B0;
    --blueTouilShadow : #7116e057;
    --blueBTouilShadow : #1b68b041;
    --orangeTouilShadow : #e8461e72;
    --cremaTouil : #F2F2F2;
}


.parentDevis {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow-x: hidden;
    margin: auto;
}


.h1LandingPageDevis {
    margin: 0;
    margin-top: 2.5rem;
}

.h1LandingPageAr {
    position: relative;
    left: 65vw;
}

.serviceDevis {
    color: white;
}

.colRightDevis p {
    width: 75%;
    font-size: 1rem;
    margin-top: -1rem;
    padding-left: 1rem;
}
.colRightDevisAr p {
    text-align: end;
    width: 100%;
}

.parentDevis h1 {
    width: 80%;
    text-align: start;
}

.parentTextDevis {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.parentFormDevis {
    width: 90%;
    background-color: var(--blueTouil);
    display: flex;
    align-items: center;
}

.parentFormDevisAr {
    flex-direction: row-reverse;
}

.colFormDevis {
    width: 60%;
    padding: 2rem;
}
.colFormPicDevis {
    width: 40%;
    overflow: hidden;
}
.colFormDevis h2{
    color: white;
    margin-bottom: 1rem;
}
.colFormDevisAr h2{
    text-align: end;
}

.formDevis {
    padding-top: 2rem;
}


.formDevis table tr td{
    width: 50%;
    margin: 1rem;
}
.formDevis table tr{
    margin: 3rem 0;
}
.inputDevis{
    font-size: 18px;
    padding: 3px 10px 10px 5px;
    display: block;
    width: 340px;
    margin: 1.5rem 0 0.6rem 0;
    border: none;
    color: white;
    border-bottom: 1px solid #ffffff;
    background: transparent;
  
}

.inputDevis, .formDevis select{
    width: 90%;
    margin: 1.2rem 0 0.7rem 0 ;

    padding: 0.3rem;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 0.1rem solid white;
    font-weight: 500;
    font-size: 0.9rem;
    color: white;
}

.formDevis select option {
    background-color: white;
    color: var(--blueTouil);
}


.submitDevis {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    margin-top: 2.5rem;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    overflow: visible;
    padding: 7px 10px;
    width: 200px;
    text-align: center;
}
  .submitDevis:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

  
.colFormPicDevis {
    background-color: white;
    border: 0.01rem solid white;
}
  
.colFormPicDevis img{
    width: 140px;
}

.tableDevis {
    width: 90%;
    margin: auto;
    color: var(--blueTouil);
    border: 1px solid var(--blueTouil);
}
.tableDevis tr th {
    border: 1px solid var(--blueTouil);
    padding: 0.5rem;
}
.tableDevis tr td {
    border: 1px solid var(--blueTouil);
}

.DecriptionDevisCol {
    width: 50%;
}

.spaceDevisTd {
    padding: 1rem;
}

.colHeaderDevis {
    background-color: var(--blueTouil);
    padding: 0.7rem;
}

.colHeaderDevis {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textHeaderDevis {
    color: white;
}

.colInfoClient {
    padding: 1rem;
}
.colInfoClient h4 {
    color: var(--blueTouil);
}
.colInfoClient p {
    font-size: 0.8rem;
    padding-left: 0.3rem;
}

.colTypeDevis  {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 1.3rem;
}

.colLeftTypeDevis {
    font-size: 0.7rem;
    margin: 1rem;
}
.colRightTypeDevis {
    color: var(--blueTouil);
}

.colSignataire p{
    font-family: "Whisper", cursive;
    color: var(--blueTouil);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.colInformationDevisTouil ul{
    display: flex;
    gap: 0.2rem;
    justify-content: space-between;
}
.colInformationDevisTouil ul li{
    font-size: 0.6rem;
    color: var(--blueTouil);
    padding: 0.4rem;
}

@media (max-width : 766px) {

   .parentDevis{
    width: 97%;
   }
.parentFormDevis{
    flex-direction: column;
    width: 100%;
    margin-left: 0.5rem;
    padding: 2rem;
}
.colFormDevis{
    width: 100%;
    padding: 0;
}
.colFormPicDevis{
    width: 100%;
    margin-top: 2rem;
}
.submitDevis{
    width: 120px;
}
.colRightDevis p{
    width: 370px;
    line-height: 27px;
}
}


@media (max-width : 1025px) {

    .parentDevis{
        width: 97%;
       }
    .parentFormDevis{
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0.5rem;
        padding: 2rem;
    }
   
  
}