:root {
    --orangeTouil : #E8451E;
    --blueTouil : #1B67B0;
    --blueTouilShadow : #7116e057;
    --blueBTouilShadow : #1b68b041;
    --orangeTouilShadow : #e8461e72;
    --cremaTouil : #F2F2F2;
}


.parentDevis {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow-x: hidden;
    margin: auto;
}


.h1LandingPageDevis {
    margin: 0;
    margin-top: 2.5rem;
}

.h1LandingPageAr {
    position: relative;
    left: 60vw;
    width: 100%;
}

.serviceDevis {
    color: white;
}

.parentDevisAr .colLeftDevis {
    width: 100%;
}

.colRightDevis p {
    width: 75%;
    font-size: 1rem;
    margin-top: -1rem;
    padding-left: 1rem;
}
.colRightDevisAr p {
    text-align: end;
    width: 100%;
}

.parentDevis h1 {
    width: 80%;
    text-align: start;
}

.parentTextDevis {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.parentFormDevis {
background-color: white;
    display: flex;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    align-items: center;
}

.parentFormDevisAr {
    flex-direction: row-reverse;
}


.colFormDevis {
    width: 60%;
    padding: 2rem;
}
.colFormPicDevis {
    width: 40%;
    overflow: hidden;
}
.colFormDevis h2{
    color: #1B67B0;
    font-size: 33px;
    margin-bottom: 1rem;
}
.colFormDevisAr h2{
    text-align: end;
}

.formDevis {
    padding-top: 2rem;
    
}
.formDevis input[type=text]::placeholder,.formDevis option::placeholder{
 color: #1B67B0;
 font-weight: 600;

}


.formDevis table tr td{
    width: 50%;
    margin: 1rem;
}
.formDevis table tr{
    margin: 3rem 0;
}
.inputDevis{
    font-size: 18px;
    padding: 3px 10px 10px 5px;
    display: block;
    width: 100%;
    margin: 1.5rem 0 0.6rem 0;
    border: none;
    color: #1B67B0;
    border-bottom: 1px solid #1B67B0;
    background: transparent;
  
}

.inputDevis, .formDevis select{
    width: 90%;
    margin: 1.2rem 0 0.7rem 0 ;
     font-size: 18px;
     font-weight: 600;
    padding: 0.3rem;
    background: transparent;
    border: none;
    outline: none;
    color: #1B67B0;
    border-bottom: 0.1rem solid #1B67B0;
  
}

.formDevis select option {
    background-color: white;
    color: #1B67B0;
}



.submitDevis {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    margin-top: 2.5rem;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    overflow: visible;
    padding: 7px 10px;
    width: 200px;
    text-align: center;
}
  .submitDevis:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

  
.colFormPicDevis {
    background-color: white;
    border-right: none;
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    filter: drop-shadow(0 0 10px var(--blueBTouilShadowIllu));

}
  
.colFormPicDevis img{
    width: 140px;
}

.tableDevis {
    width: 90%;
    margin: auto;
    color: #1B67B0;
    border: 1px solid #1B67B0;
}
.tableDevis tr th {
    border: 1px solid #1B67B0;
    padding: 0.5rem;
}
.tableDevis tr td {
    border: 1px solid #1B67B0;
}

.DecriptionDevisCol {
    width: 50%;
}

.spaceDevisTd {
    padding: 1rem;
}

.colHeaderDevis {
    background-color: #1B67B0;
    padding: 0.7rem;
}

.colHeaderDevis {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textHeaderDevis {
    color: white;

}
::placeholder{
    color: #1B67B0;
}

.colInfoClient {
    padding: 1rem;
}
.colInfoClient h4 {
    color: #1B67B0;
}
.colInfoClient p {
    color: #1B67B0;
    font-size: 0.8rem;
    padding-left: 0.3rem;
}

.colTypeDevis  {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 1.3rem;
}

.colLeftTypeDevis {
    font-size: 0.7rem;
    margin: 1rem;
    color:#1B67B0;
}
.colRightTypeDevis {
    color:#1B67B0;
}

.colSignataire p{
    font-family: "Whisper", cursive;
    color: #1B67B0;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.colInformationDevisTouil ul{
    display: flex;
    gap: 0.2rem;
    justify-content: space-between;
}
.colInformationDevisTouil ul li{
    font-size: 0.6rem;
    color:#1B67B0;
    padding: 0.4rem;
}

@media (max-width : 766px) {

   .parentDevis{
    width: 97%;
   }
.parentFormDevis{
    flex-direction: column;
    width: 100%;
    margin-left: 0.5rem;
    padding: 2rem;
}
.colFormDevis{
    width: 100%;
    padding: 0;
}
.colFormPicDevis{
    width: 100%;
    margin-top: 2rem;
}
.submitDevis{
    width: 120px;
}
.colRightDevis p{
    width: 370px;
    line-height: 27px;
}
}


@media (max-width : 1025px) {

    .parentDevis{
        width: 97%;
       }
    .parentFormDevis{
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0.5rem;
        padding: 2rem;
    }
   
  
}




@media (max-width:760px){
    .h1LandingPageAr {
        left: 50vw;
    }
    .formDevis {
        width: 25rem;
      }
      .colFormDevis{
          width: 26rem;
          padding-top: 1rem;
      }
      .parentFormDevis{
        padding: 2rem 0.4rem;
      }
    .colRightDevisAr {
        width:100%;
        
    }
    .colRightDevisAr p{
        width:100%;
    }
}
@media (max-width:524px){
    .h1LandingPageAr {
        left: 40vw;
    }
    .colFormDevis{
        width: 100% !important;
    }

    .inputDevis{
        font-size: 18px;
        padding: 3px 10px 10px 5px;
        display: block;
        width: 100%;
        margin: 1.5rem 0 0.6rem 0;
        border: none;
        color: #1B67B0;
        border-bottom: 1px solid #1B67B0;
        background: transparent;
      
    }
}




@media (max-width: 390px) {
    .formDevis {
      width: 25rem;
    }
    .colFormDevis{
        width: 26rem;
        padding-top: 1rem;
    }
    .parentFormDevis{
        padding: 0.8rem;
    }
    .parentFormDevis{
        width: 25rem;
    }
    .colRightDevis p{
        padding: 0;
        width: 350px;
        line-height: 30px;
    }
    .parentTextDevis{
        margin-left: -2rem;
    }
  }



@media (min-width:1340px){
    .colRightDevis p {
        font-size: 1.7rem;
        width: 100%;
    }

    .parentDevis {
        overflow: visible;
        margin-top: 1rem;
    }

    .parentFormDevis {
        width: 95%;
        height: 650px;
        font-size: 1.8rem;
    }

    .colFormDevis h2 {
        font-size: 2.5rem;
    }

    .submitDevis {
        font-size: 1.5rem;
        width: fit-content;
        padding: 1rem 4rem ;
    }

    .inputDevis, .formDevis select  {
        font-size: 1.7rem;
    }
}